<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="../res/css/main.css" th:href="@{/res/font-awesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../res/css/main.css" th:href="@{/res/css/main.css}"/>
    <title>NES Desk</title>
</head>
<body>
	<div class="bg-color">
		<header>
			<h6>NES Desk</h6>
			<p>Username</p>
			<a href="/logout">Logout</a>
		</header>

		<section class="content">
			<h3>Pixel desk with NES colors</h3>
			<form th:action="@{/}" method="post">
				<p>Wrong email or password!</p>
				<input type="text" placeholder="Username" name="username"/>
				<input type="password" placeholder="Password" name="password"/>
				<button type="submit" name="submit">Sign In</button>
				<a href="/register">Sign Up</a>
			</form>
		</section>

	</div>

	<footer>
        <a href="https://github.com/apohrebniak/desk-backend">GitHub <i class="fa fa-github-square"></i></a>
    </footer>
</body>
</html>